$pantone-2755: rgb(30, 33, 113);
$pantone-2935: rgb(0, 117, 191);
$pantone-284: rgb(104, 174, 224);
$pantone-185: rgb(237, 28, 36);
$pantone-gray: rgb(200, 200, 200);
$simple-gray: rgb(226, 226, 226);
$simple-white: rgb(255, 255, 255);
$simple-black: rgb(0, 0, 0);
$simple-success: rgb(40, 167, 69);
$lin-gradient-1-r: linear-gradient(to right, #ffffff, #c7c2db, #9088b8, #5b5294, #1e2171);
$lin-gradient-2-r: linear-gradient(to right, #0075bf, #0360ad, #0f4b9a, #183686, #1e2171);
$lin-gradient-3-r: linear-gradient(to right, #0075bf, #2883c8, #4091d0, #54a0d8, #68aee0);
$lin-gradient-4-r: linear-gradient(to right, #ffffff, #d7d8ee, #a9b4de, #7293cf, #0075bf);
$lin-gradient-5-r: linear-gradient(to right, #68aee0, #9dbfe9, #c5d2f1, #e6e8f7, #ffffff);
$rad-gradient-t-b: radial-gradient(ellipse at top, #70d1ff, transparent),
radial-gradient(ellipse at bottom, #0087ff, transparent);
$rad-gradient-b-t: radial-gradient(ellipse at bottom, #70d1ff, transparent),
radial-gradient(ellipse at top, #0087ff, transparent);
$black-out-00408: 0 0 4px rgba(0,0,0,0.8); 
$black-inset-00204: inset 0 0 2px rgba(0,0,0,0.4);

%scroll-bar {
  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background: #a6a6a6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #cccccc;
  }
}