.time-view-component {
  cursor: default;
  user-select: none;
  border-radius: 10px;
  width: 180px;
  height: 60px;
  font-size: 28px;
  z-index: 0;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #1e2171;

  .time-span {
    margin-left: 5px;
    font-size: 32px;
    font-family: monospace;
  }
}